.s_dynamic_form_section {
    display: none;
    padding: 20px;
    min-height: 300px;
    animation-play-state: running !important;
}
.s_dynamic_form .s_website_form_dnone{
    display: none;
}
form.d-form-none{
    display: none !important;
}
.s_website_form_end_message.d-block-msg{
    display: block !important
}
.s_dynamic_form_section.active{
    display: flex;
    flex-direction: row;
    align-items: start;
    min-height: auto;
}
.s_dynamic_form_section .s_text_block{
    padding: 40px;
}
.partner-img-logo{
    float: left;
    margin-right: 20px;
}
.s_website_form_end_message.d-block-msg + form{
    display: none;
}
.control-opt.active{
    display: block;
}
.s_dynamic_form .s_website_form_rows{
    overflow: hidden;
}
.loading-dynamic {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100000;
}
.loading-dynamic.active{
    display: block;
}
.loading-dynamic img{
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
div[data-type="img_select"] img {
  cursor: pointer;
}
div[data-type="img_select"] [type=radio]:checked ~ div img {
  outline: 2px solid #c6caff;
}
.active-section{
    display: block;
}
.disabled-section{
    display: none;
}
.dynamic_form_controls{
    display: flex;
    padding: 20px;
    justify-content: center;
}
.partner-title{
    font-weight: bold;
}
.control-opt{
    display: none;
    margin-right: 20px;
}
.reports-item-white{
    background: white;
}
.main-partner-info{
    color: #35979c;
}
.partner-info-wrapper {
    padding: 20px;
    display: none;
}
.partner-info-wrapper.active{
    display: block;
}
.partner-info {
   margin-top: 20px;
}
.reports-item-blue{
    background: blue;
}