.o_sales_dashboard {
    height: inherit;
    overflow: auto;
    padding: 20px;
}

.o_sales_dashboard .o_sales_dashboard_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 8px;
}

.o_sales_dashboard .monthly-sales-wrapper {
    height: 310px;
    overflow: auto;
}

.o_sales_dashboard .date-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.o_sales_dashboard .date-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.o_sales_dashboard .filter-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.o_sales_dashboard .filter-button:hover {
    background: #0056b3;
}

.o_sales_dashboard_container {
    width: 100%;
}

.o_sales_dashboard_row {
    width: 100%;
    margin-bottom: 20px;
}

.ticket-section tbody td {
    border-bottom: 0;
}

.o_sales_dashboard .ticket-section{
    display: none;
}

.o_sales_dashboard .ticket-show {
    display: table-row;
}

.o_sales_dashboard .sales-section {
    cursor: pointer;
}

.o_sales_dashboard_column {
    width: 48%;
    margin: 10px;
}

.o_column_left {
    float: left;
}

.o_column_right {
    float: right;
}

.o_dashboard_blue_block {
    background-color: #eaf6fb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.o_dashboard_blue_block h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.o_sales_dashboard table.table-hover {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.o_sales_dashboard table.table-hover th, .o_sales_dashboard table.table-hover td {
    padding: 10px;
    text-align: center;
    vertical-align: baseline;
}

.o_sales_dashboard .ranking-container{
    max-height: 470px;
    overflow-y: scroll;
}
